

#password{
    color: goldenrod;
}
.labelText{
    color: goldenrod;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    border: 2px solid cyan;
    border-radius: 5px;
    padding: 3%;
    margin-top: 20px;
    gap: 5px;
}

h1 {
    text-align: center;
    color: cyan;
    font-weight: bolder;
    font-size: 44px;
}

label {
    color: goldenrod;    
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

input {
    padding: 2%;
    border-radius: 3px;
}

.submit-btn {
    background-color: cyan;
    color: black;
    padding: 10px;
    font-size: 22px;
    margin-top: 10px;
    border: 2px solid cyan;
    cursor: pointer;
    border-radius: 3px;   
}

